[submodule "HardwareDebuggerApp/vendor/spdlog"]
	path = HardwareDebuggerApp/vendor/spdlog
	url = https://github.com/CFXS/spdlog.git
[submodule "HardwareDebuggerApp/vendor/Lua"]
	path = HardwareDebuggerApp/vendor/Lua
	url = https://github.com/CFXS/lua.git
[submodule "HardwareDebuggerApp/vendor/KDDockWidgets"]
	path = HardwareDebuggerApp/vendor/KDDockWidgets
	url = https://github.com/KDAB/KDDockWidgets.git
